In [1]:
import funciones as fs

1. Carga los archivos con extensiones .csv y .html y los convierte a dataframe, si es un  archivo con cualquier otra extensión, emitirá el raise (“Hola, acabas de ingresar un documento que desconozco, con extensión: .formato”)

In [2]:
df = fs.cargar_dataset('Sydney.csv')
df

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,2.024120e+13,279001183,24/07/19,f,842.0,921.0,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,194,194,0,0,4.23
1,1,1226551214174044599,2.024120e+13,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.00,4.80,f,2,0,2,0,6.06
2,2,1264833485512910590,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.00,5.00,5.00,5.00,t,46,4,42,0,0.77
3,3,1264834761942196027,2.024120e+13,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,4.50,4.50,4.50,4.50,t,46,4,42,0,2.00
4,4,929853,2.024120e+13,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.00,4.50,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,2.024120e+13,7409213,10/07/13,f,237.0,354.0,"['email', 'phone', 'work_email']",t,...,NaN,NaN,NaN,NaN,t,179,179,0,0,NaN
17713,17713,1305545916099249965,2.024120e+13,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,NaN,NaN,NaN,NaN,t,11,9,2,0,NaN
17714,17714,1305547378345209569,2.024120e+13,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,NaN,NaN,NaN,NaN,f,10,10,0,0,NaN
17715,17715,1305579456463125891,2.024120e+13,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,NaN,NaN,NaN,NaN,f,21,21,0,0,NaN
17716,17716,1305599769915115847,2.024120e+13,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,NaN,NaN,NaN,NaN,f,7,7,0,0,NaN

2. Sustituye los valores nulos de las variables de las columnas primas (0,1, 2, 3, 5, 7, 11, 13…etc.) con la constante numérica  “1111111” y de las demás columnas numéricas con la constante “1000001”. Las columnas que no sean de tipo numérico se sustituirán con el string “Valor Nulo”

In [5]:
df_sin_nulos = fs.sustituir_nulos(df)
df_sin_nulos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 51 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Unnamed: 0                                    17717 non-null  int64
 1   id                                            17717 non-null  int64
 2   scrape_id                                     17717 non-null  float64
 3   host_id                                       17717 non-null  int64
 4   host_since                                    17717 non-null  object
 5   host_is_superhost                             17717 non-null  object
 6   host_listings_count                           17717 non-null  float64
 7   host_total_listings_count                     17717 non-null  float64
 8   host_verifications                            17717 non-null  object
 9   host_has_profile_pic                          17717 non-null  object
 10  host_identity_verified                        17717 non-null  object
 11  neighbourhood_cleansed                        17717 non-null  object
 12  neighbourhood_group_cleansed                  17717 non-null  float64
 13  latitude                                      17717 non-null  float64
 14  longitude                                     17717 non-null  float64
 15  accommodates                                  17717 non-null  int64
 16  bathrooms                                     17717 non-null  float64
 17  bedrooms                                      17717 non-null  float64
 18  beds                                          17717 non-null  float64
 19  price                                         17717 non-null  object
 20  minimum_nights                                17717 non-null  int64
 21  maximum_nights                                17717 non-null  int64
 22  minimum_minimum_nights                        17717 non-null  int64
 23  maximum_minimum_nights                        17717 non-null  int64
 24  minimum_maximum_nights                        17717 non-null  int64
 25  maximum_maximum_nights                        17717 non-null  int64
 26  minimum_nights_avg_ntm                        17717 non-null  float64
 27  maximum_nights_avg_ntm                        17717 non-null  float64
 28  calendar_updated                              17717 non-null  float64
 29  has_availability                              17717 non-null  object
 30  availability_30                               17717 non-null  int64
 31  availability_60                               17717 non-null  int64
 32  availability_90                               17717 non-null  int64
 33  availability_365                              17717 non-null  int64
 34  calendar_last_scraped                         17717 non-null  object
 35  number_of_reviews                             17717 non-null  int64
 36  number_of_reviews_ltm                         17717 non-null  int64
 37  number_of_reviews_l30d                        17717 non-null  int64
 38  review_scores_rating                          17717 non-null  float64
 39  review_scores_accuracy                        17717 non-null  float64
 40  review_scores_cleanliness                     17717 non-null  float64
 41  review_scores_checkin                         17717 non-null  float64
 42  review_scores_communication                   17717 non-null  float64
 43  review_scores_location                        17717 non-null  float64
 44  review_scores_value                           17717 non-null  float64
 45  instant_bookable                              17717 non-null  object
 46  calculated_host_listings_count                17717 non-null  int64
 47  calculated_host_listings_count_entire_homes   17717 non-null  int64
 48  calculated_host_listings_count_private_rooms  17717 non-null  int64
 49  calculated_host_listings_count_shared_rooms   17717 non-null  int64
 50  reviews_per_month                             17717 non-null  float64
dtypes: float64(20), int64(21), object(10)
memory usage: 6.9+ MB

/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(1111111 if col_index in primos else 1000001, inplace=True)
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna("Valor Nulo", inplace=True)

3. Identifica los valores nulos “por columna” y “por dataframe”

In [6]:
identificacion_de_nulos = fs.identificar_nulos(df)
identificacion_de_nulos

(Unnamed: 0                                      0
 id                                              0
 scrape_id                                       0
 host_id                                         0
 host_since                                      0
 host_is_superhost                               0
 host_listings_count                             0
 host_total_listings_count                       0
 host_verifications                              0
 host_has_profile_pic                            0
 host_identity_verified                          0
 neighbourhood_cleansed                          0
 neighbourhood_group_cleansed                    0
 latitude                                        0
 longitude                                       0
 accommodates                                    0
 bathrooms                                       0
 bedrooms                                        0
 beds                                            0
 price                                           0
 minimum_nights                                  0
 maximum_nights                                  0
 minimum_minimum_nights                          0
 maximum_minimum_nights                          0
 minimum_maximum_nights                          0
 maximum_maximum_nights                          0
 minimum_nights_avg_ntm                          0
 maximum_nights_avg_ntm                          0
 calendar_updated                                0
 has_availability                                0
 availability_30                                 0
 availability_60                                 0
 availability_90                                 0
 availability_365                                0
 calendar_last_scraped                           0
 number_of_reviews                               0
 number_of_reviews_ltm                           0
 number_of_reviews_l30d                          0
 review_scores_rating                            0
 review_scores_accuracy                          0
 review_scores_cleanliness                       0
 review_scores_checkin                           0
 review_scores_communication                     0
 review_scores_location                          0
 review_scores_value                             0
 instant_bookable                                0
 calculated_host_listings_count                  0
 calculated_host_listings_count_entire_homes     0
 calculated_host_listings_count_private_rooms    0
 calculated_host_listings_count_shared_rooms     0
 reviews_per_month                               0
 dtype: int64,
 np.int64(0))

4. Identifica  los valores atípicos de las columnas numéricas con el método de “Rango intercuartílico” y los sustituye con la leyenda “Valor Atípico”

In [7]:
valores_atipicos = fs.identificar_y_sustituir_atipicos(df)
valores_atipicos

/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"
/Users/pablo_gvw/Desktop/Clase con Alfredo García/Actividad 7 (Recuperación)/funciones.py:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Valor Atípico' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[(df[col] < Limite_Inferior_iqr) | (df[col] > Limite_Superior_iqr), col] = "Valor Atípico"

,Unnamed: 0,id,scrape_id,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,0,1208229396139150589,20241200000000.0,279001183,24/07/19,f,Valor Atípico,Valor Atípico,"['email', 'phone', 'work_email']",t,...,4.91,4.73,4.73,4.55,t,Valor Atípico,Valor Atípico,0,0,4.23
1,1,1226551214174044599,20241200000000.0,24295514,29/11/14,f,2.0,6.0,"['email', 'phone']",t,...,4.95,4.85,5.0,4.8,f,2,0,Valor Atípico,0,6.06
2,2,1264833485512910590,20241200000000.0,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,5.0,5.0,5.0,5.0,t,Valor Atípico,4,Valor Atípico,0,0.77
3,3,1264834761942196027,20241200000000.0,255319514,12/04/19,f,46.0,46.0,"['email', 'phone']",t,...,Valor Atípico,Valor Atípico,Valor Atípico,4.5,t,Valor Atípico,4,Valor Atípico,0,2.0
4,4,929853,20241200000000.0,5007351,07/02/13,f,1.0,1.0,"['email', 'phone']",t,...,5.0,Valor Atípico,4.83,4.17,f,1,1,0,0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,17712,1305466650690461821,20241200000000.0,7409213,10/07/13,f,Valor Atípico,Valor Atípico,"['email', 'phone', 'work_email']",t,...,Valor Atípico,Valor Atípico,Valor Atípico,Valor Atípico,t,Valor Atípico,Valor Atípico,0,0,Valor Atípico
17713,17713,1305545916099249965,20241200000000.0,386932887,01/02/21,f,11.0,14.0,"['email', 'phone']",t,...,Valor Atípico,Valor Atípico,Valor Atípico,Valor Atípico,t,11,9,Valor Atípico,0,Valor Atípico
17714,17714,1305547378345209569,20241200000000.0,465271405,20/06/22,f,10.0,10.0,['phone'],f,...,Valor Atípico,Valor Atípico,Valor Atípico,Valor Atípico,f,10,10,0,0,Valor Atípico
17715,17715,1305579456463125891,20241200000000.0,565965713,07/03/24,t,28.0,33.0,"['email', 'phone']",t,...,Valor Atípico,Valor Atípico,Valor Atípico,Valor Atípico,f,21,21,0,0,Valor Atípico
17716,17716,1305599769915115847,20241200000000.0,56663585,29/01/16,f,10.0,20.0,['phone'],t,...,Valor Atípico,Valor Atípico,Valor Atípico,Valor Atípico,f,7,7,0,0,Valor Atípico